/* menu div */

@media screen and (max-width: 600px) {
 

  .top-bar-detail h2 {
    font-size: 18px;
    letter-spacing: 0 !important;
    margin-left: 33px !important;
  }

  .toggle-btn{
    top: 15px; /* Move the button to the top on small screens */
    left: 5px!important;
    height: 30px;
    width: 30px;
    z-index: 2000 !important;
  }

  .sidenav {
    width: 250px !important;
  z-index: 1000 !important;
  }

  .content {
    
    margin-left: 0 !important;
    
  }
  #app-logo{
    height: 85% !important;
    
  }
  .brand-bar{
    justify-content: flex-end !important;
  }

}

.containers {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s;
  /* overflow: hidden;
  overflow-y: auto; */
}
.sidenav {
  width: 15vw;
  color: white;
  padding: 7px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* overflow: auto; */
  transition: transform 0.3s ease;
  background: url("/images/bg-1.png"),
  linear-gradient(to top, var(--light-header), var(--dark-header));
}
.sidenav.hidden {
  transform: translateX(-100%);
  
}
.content {
  flex-grow: 1;
  padding:0px 0px;
  background-color: #f4f4f4;
  box-sizing: border-box;
  margin-left: 15vw;
  transition: margin-left 0.3s ease;
}
.content.expanded {
  margin-left: 0;
}
.toggle-btn {
  position: fixed;
  bottom: 5px;
  left: calc(15vw - 32px);
  background-color: var(--btn-background);
  color: white;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  transition: left 0.3s ease;
  z-index: 1;
}
.toggle-btn.hidden {
 
  left: 5px;
}

.left-side {
  width: 15%;
  height: 100vh;
  background: url("/images/bg-1.png"),
    linear-gradient(to top, var(--light-header), var(--dark-header));
  float: left;
  border-right: 1px outset var(--grayFont);
}
.right-side {
  
  width: 85%;
  height: 100vh;
  background-color: var(--border-light);
  float: left;
}
.top-bar {
  height: 55px;
  padding: 4px 8px;
  width: 100%;
  /* display: flex; */
  background: url("/images/1515.png"),
    linear-gradient(to right, var(--light-header), var(--dark-header));
  /* border-bottom: 1px outset #000; */
  border-bottom: 1px outset var(--grayFont);
}
.brand-bar {
  margin-top: 0;
  height: 48px;
  padding: 0 0;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px outset var(--border-light);
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.detail-pane {
   height: calc(100vh - 57px);
   overflow-y: auto;
   overflow-x: hidden;
 }

#app-logo {
   height: 100%;
}
.brand-bar h3 {
  color: var(--brand-color-2);
  padding-left: 7px;
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px var(--grid-font-color);
  line-height: 51px;
  font-weight: 700;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* company name and profile */
.top-bar-detail {
  overflow: hidden;
  width: 100%;
}

.top-bar-detail h2 {
  color: var(--color-brand);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  float: left;
  margin: 0;
  line-height: 42px;

  text-shadow: 1px 1px #000;
}

.top-bar-detail .profile {
  max-height: 42px;
  color: var(--grayFont);
  float: right;
  line-height: 42px;
}
#id_user {
  line-height: 57px;
  font-size: 1rem;
  margin: 0;
  float: left;
  font-weight: 400;
}

.profile {
  cursor: pointer;
}
.profile img {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
  line-height: 57px;
}

.profile-menu {
  position: absolute;
  right: 1px;
  top: 10px;
  color: #333;
  z-index: 1000;
  background-color: var(--dark-header);
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.4s ease;
}
.profile-menu.active {
  visibility: visible;
  opacity: 1;
  top: 56px;
}

.profile-menu a {
  color: #fff;
  text-decoration: none;
}

.text-emphasis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
